@using SB.ViewModels

@model BookVM

<h4>BOOK DETAILS</h4>
<br />

@if (Model.Pictures != null)
{
    @foreach (var i in Model.Pictures)
    {
        <img src="@i.Src" alt="Photo" width="100" height="150" />
    }
    <br />
}
else
{
    <b>No images</b>
    <br />
}

@Html.LabelFor(x => x.Author) <span>&nbsp;</span>
@Html.DisplayFor(x => x.Author)
<br />
@Html.LabelFor(x => x.Title) <span>&nbsp;</span>
@Html.DisplayFor(x => x.Title)
<br />
@Html.LabelFor(x => x.Info) <span>&nbsp;</span>
@Html.DisplayFor(x => x.Info)
<br />
@Html.LabelFor(x => x.Price) <span>&nbsp;</span>
@Html.DisplayFor(x => x.Price)
<br />
@Html.LabelFor(x => x.Category) <span>&nbsp;</span>
@Html.DisplayFor(x => x.Category)
<br />
@Html.LabelFor(x => x.Swap) <span>&nbsp;</span>
@Html.DisplayFor(x => x.Swap)

