@using SB.ViewModels

@model IEnumerable<BookVM>  

<style>
    .img {
        /* width: 33%; */
        min-height: 80px;
        height: auto;
        max-width: 230px;
        max-height: 95px;
        /* display: block; */
        width: auto;
        margin: 0 auto;
    }
</style>

<h4>BOOKS LIST</h4>
<br />

@if (Model.Count()== 0)
{
    <h3>Nothing found</h3>
}

@foreach (var b in Model)
{
    <tr>

        @foreach (var i in b.Pictures)
        {
            <img class="img" src="@i.Src" alt="Photo" width="70" height="100" />            
        }

        <b>@Html.LabelFor(x => b.Title)</b>
        @Html.DisplayFor(x => b.Title)
       
        <br />

        <b>@Html.LabelFor(x => b.Author)</b>
        @Html.DisplayFor(x => b.Author)

        <br />

        <b>Swap</b>
      
       @Html.DisplayFor(x => b.Swap)
        
        <b>Price: </b>
        <td>@b.Price</td> 
        @Html.Display("Info")
     
    </tr>
    <br />
    @Html.ActionLink("more", "Details", "Books", new { idBook = b.Id }) <span>&nbsp;</span>
    @* @Html.ActionLink("change", "Edit", "Books", new { idBook = b.Id }, FormMethod.Get) <span>&nbsp;</span> *@
    @* @Html.ActionLink("delete" , "Delete" , "Books" , new {idBook = b.Id}) *@
    <br />
}

