@using SB.ViewModels

@model BookVM

<style>
    .new-section {
        border-radius: 25px;
        height: 100%;
        width: 300px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding: 20px;
        text-align: left;
        background: #FFF4A3;
    }

    .responsive-image {
        width: 22%;
        height: auto;
        max-width: 600px;
        display: block;
        margin: 0 auto;
    }

</style>

<h2>Edit Book</h2>

<form asp-action="edit" asp-controller="Books" asp-route-id="@Model.Id" enctype="multipart/form-data">
   
    <p>
        <label asp-for="Title">Title</label><br/>
        <input type="text" asp-for="Title"></input>
    </p>
    <p>
        <label asp-for="Author">Author</label><br />
        <input type="text" asp-for="Author"></input>
    </p>
    <p>
        <label asp-for="Price">Price</label><br />
        <input type="number" asp-for="Price"></input>
    </p>
    <p>
        <label asp-for="Swap">Swap</label><br />
        <input type="checkbox" asp-for="Swap"></input>
    </p>
    <p>
        @Html.DropDownListFor(m => m.Category, @ViewBag.Categories as List<SelectListItem>)
        <br /> 
        
    </p>
    <p>
        <label asp-for="Info">Info</label><br />
        <input type="text" asp-for="Info"></input>
    </p>

    <style>
        .container {
            position: relative;
            width: 100%;
            max-width: 400px;
        }

            .container img {
                width: 50%;
                height: auto;
            }

            .container .btn {
                border-radius: 5px;
            }

        .btn {
            position: absolute;
            top: 65%;
            left: 32%;
            
           /*  transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%); */
            
            text-align: center;
            color: black;
            font-size: 10px;
            cursor: pointer;
            /* border: none; */
            /**/
            background-color: white;
        }

            .btn:hover {
             /*    background-color: gray; */
             color: red;
            }

    </style>

    <script type="text/javascript">
        
        function onDelete(id) {
            if (!confirm("Удалить фото?"))  
                return;

            $.ajax({
                url: '@Url.Action("DeletePhoto", "Books")',
                data: { id },
                success: function (result) {
                    $('#' + id).remove();
                    //alert(result.msg);                    
                },
                error: function (result) {
                    alert(result.msg);
                }
            })
        }

        // function doUpdate() {

        //     var formData = {
        //         Id: 1,
        //         Title: $('#Title').val(),
        //         Author: $('#Author').val(),
        //         Src: ["1", "2", "3"]
        //     };

        //     $.ajax({
        //         type: "POST",
        //         url: '@Url.Action("UpdateData", "Books")',
        //         data: formData,
        //         success: function (result) {
        //             alert('success')
        //         }
        //     })
        // }

    </script>

    <p>
        
        <label asp-for="EditPhoto">Photo</label><br />

        @if (Model.Pictures != null)
        {
            @foreach (var i in Model.Pictures)
            {
                <div class="container" id="@i.Id">
                    <img src="@i.Src" alt="Photo" />
                    <button class="btn" type="button" onclick = "onDelete(@i.Id)" >удалить</button>
                </div>
                <br />
            }
            <br />
        }        
        
    </p>

    <p>
        <input type="file" name="files" id="upload-photo" multiple />        
    </p>

    <p>        
        <input type="submit" value="Save" formmethod="post" />
    </p>

@*     <p>
        <input type="button" value="Update" onclick="doUpdate()" />
    </p> *@

    </form>

<br />




